.bg-benefits {
    background-color: #45413e;
}

.text-benefits{
    color: #7b7774;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}


