/* General rules*/
.pad-from-nav{
    padding-top: 6em;
}
.pad-from-nav-breadcrumbs{
    padding-top: 3em;
}

.pad-from-bottom-nav{
    padding-bottom: 3em;
}

a, a:hover{
    text-decoration: none;
    color: initial;
    outline: none;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

/* Header component*/
.navbar-brand{
    margin-right: 0;
}

.bg-nav-mobile{
    background-color: #262a33;
}

.icon-brightness{
    filter: brightness(5);
}

.border-primary{
    border-color: #3b5998 !important;
    border-width: 3px !important;
}

.small-fix{
    line-height: 0.9em;
}
.logo-image{
    width: 63px;
    height: 65px;
}

.icon-image{
    width: 23px;
    height: 23px;
}

.osf-text{
    width: 73px;
    height: 25px;
    color: #011847;
    font-family: "Lato - Extra Bold";
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 6.33px;

}

.academy-text{
    width: 74px;
    height: 17px;
    color: #84bc22;
    font-family: Lato;
    font-size: 18px;
    font-weight: 600;
}

.icon-fading{
    opacity: 0.5;
}

.dropdown-size{
    width: 71.5625em;
    margin-top: 1.3em;
    margin-left: -19.6em;
    background-color: #262a32
}

.small-dropdown-size{
    background-color: #262a32
}

/* BenefitsContent component */
.bg-benefits {
    background-color: #45413e;
}

.text-benefits{
    color: #7b7774;
    font-family: Lato;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
}

/* Banner Component */
.banner {
    background-image: url("../img/FullWidthImage/FullWidthImage_Banner_Desktop.png");
    background-position: center;
    background-size: cover;
}

/* ProductTile component */


/* NotFound component */
.bg-color-not-found{
    background-color: #f1edea;
}

.bg-icon-fix{
    margin-left: -17em;
} 

.border-color-bg{
    border-color: #f1edea !important; 
    border-width: 3px !important;
}

/* PopularItems component */
.bg-items {
    background-color: #262a33;
}

/* CarouseBanner component */
.icon-color{
    color: #3b5998;
    font-size: 0.9em;
}

.icon-photo{
    height: 2em;
}

.size{
    height: 25em;
    width: 1;
}

/* FeaturedProducts component */
.white-line{
    width: 250px;
    height: 2px;
}

.bg-products {
    background-color: #262a33;
}

/* ProductFullCover component */
.full-cover{
    background: linear-gradient(to right, blue, pink);
}

/* Tabs component */
.border-fix{
    border-radius: 25px 25px 0px 0px !important;
}
.border-fix:hover{
    background-color: #262a33 !important; 
    color: white !important;
}

.nav-tabs .nav-link.active{
    background-color: #262a33;
    color: white !important;
}













